Flask==2.3.3
numpy==1.26.4
opencv-python==4.8.1.78
scikit-learn==1.7.2
scikit-image==0.25.2
joblib==1.5.1
mediapipe==0.10.21
scipy==1.15.3
threadpoolctl==3.6.0
Werkzeug==2.3.7
matplotlib==3.10.9
Flask-Cors==6.0.2